.navbar {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 75px;
  position: fixed;
  right: 0;
  top: 0;
  border-bottom: 1px solid white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(to right, #5de0e6, #3533cd); */
}

.navbar .head {
  color: white;
  align-items: center;
  display: flex;
}
.navbar img {
  border-radius: 50%;
  margin-left: 50px;
}

.navbar ul {
  width: 100vw;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 25px;
  margin-right: 50px;
  list-style: none;
  font-size: 22px;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.navbar .head {
  width: 100vw;
  margin-left: 20px;
  font-size: 32px;
}
.navbar a:active {
  color: aquamarine;
}
body {
  background-color: #030307;
}

.container title {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  color: violet;
  margin-top: 20%;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 500px;
  font-family: "Kanit", sans-serif;
}

.about-zero {
  text-align: start;
  width: 300px;
  font-size: larger;
}
.title h1:hover {
  color: cyan;
}

@keyframes onhover {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.title2 {
  animation-timing-function: ease-in;
  animation-name: onhover;
  animation-duration: 8s;
}

.title1 {
  animation-name: onhover;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  text-align: center;
  animation-duration: 6s;
}
.title3 {
  animation-name: onhover;
  animation-duration: 9s;
  animation-timing-function: ease-in;
}

.navbar a:hover {
  color: violet;
}
.fa {
  padding: 20px;
  font-size: 30x;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}

.social {
  height: fit-content;
  margin-top: 25%;
  font-size: 20px;
  bottom: 0;
  z-index: 60;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.fa-instagram {
  color: white;
}

.fa-telegram {
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  color: white;
}
.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.container2 {
  display: flex;
}

.about-head {
  color: violet;
  font-size: 60px;
  font-family: "Kanit", sans-serif;
  animation-name: onhover;
  animation-duration: 4s;
}
.about-zero {
  margin-left: 15%;
  margin-top: 20%;
  justify-content: start;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
  text-align: left;
  height: fit-content;
}

.about-zero > p {
  width: 100%;
  display: flex;
  font-size: 28px;
}

body {
  background-image: url(./assests/original.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 15%;
}

.view {
  margin-left: 15%;
  display: block;
  height: fit-content;
  width: fit-content;
  color: violet;
  font-size: 20px;
  font-family: "kanit";
  text-align: start;
  text-decoration: none;
  border-radius: 10%;
}

.view:hover {
  color: white;
}

.title > p {
  display: block;
}

.disc {
  margin-top: 15%;
  color: white;
  display: inline-flex;
  margin-left: 15%;
  font-family: "kanit", sans-serif;
  gap: 20%;
  align-items: start;
}

.disc p {
  width: 60%;
  font-size: 22px;
  text-align: left;
}

.disc h1 {
  font-size: 72px;
  width: 200px;
}

.discp {
  margin-top: 4%;
}

.c-dics {
  margin-top: 15%;
  color: white;
  display: inline-flex;
  align-items: center;
  margin-left: 15%;
  font-family: "kanit", sans-serif;
  gap: 20%;
  /* text-align: start; */
}

.c-dics p {
  width: 60%;
  font-size: 22px;
  text-align: left;
}
.c-dics h1 {
  font-size: 72px;
  width: 200px;
}

.glimses {
  display: flex;
  justify-content: center;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px 300px;
  align-items: center;
  margin-top: 10%;
  gap: 50px;
}

.glim-head {
  color: white;
  margin-left: 15%;
  margin-top: 20%;
  font-size: 72px;
  font-family: "kanit", sans-serif;
}

.contact {
  margin-left: 15%;
  margin-top: 20%;
  color: white;
}

.get {
  font-size: 60px;
  border-bottom: 2px solid violet;
  width: fit-content;
}

.call {
  display: flex;
  gap: 10%;
}

.mail a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.mail h3 {
  font-size: 25px;
}

.meet h3 {
  font-size: 25px;
}

footer {
  text-align: end;
  color: white;
  margin-top: 25%;
  margin-right: 15%;
}
.navbar .icon {
  display: none;
  color: white;
}

@media screen and (max-width: 450px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar {
    align-items: center;
  }
  .navbar img {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .navbar .icon {
    display: block;
    background-color: white;
  }
  .navbar .head {
    margin-left: 20px;
    width: fit-content;
    font-size: 25px;
  }
  .title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 50px;
    margin-top: 25%;
    font-size: 18px;
  }
  .about-zero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: medium;
  }
  .about-head {
    font-size: 40px;
  }
  .about-par {
    font-size: 5px;
  }
  .social {
    margin: 0;
    font-size: 15px;
  }
  .fa {
    padding: 15px;
  }

  .disc {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .disc h1 {
    font-size: 30px;
  }
  .disc p {
    font-size: 20px;
    width: 80vw;
  }

  .c-dics {
    width: 100vw;
    flex-direction: column;
    display: flex;
  }
  .c-dics h1 {
    width: 100vw;
    font-size: 30px;
  }
  .c-dics p {
    margin-top: 4%;
    width: 80vw;
    font-size: 20px;
    margin-right: 20%;
  }
  .glim-head {
    font-size: 30px;
  }
  .glimses img {
    width: 90vw;
    height: auto;
  }
  .get {
    font-size: 30px;
  }
  .call {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }
  footer {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@media screen and (min-width: 451px) and (max-width: 850px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar {
    justify-content: center;
  }
  .navbar img {
    display: none;
  }

  .navbar .head {
    margin: 0;
    width: 50vw;
    margin-left: 50px;
    font-size: 20px;
  }

  .navbar ul {
    margin: 0;
    width: 100vw;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: flex;
    width: 100vw;
    gap: 50px;
    margin-top: 25%;
    font-size: 35px;
  }
  .about-zero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
  }
  .about-head {
    font-size: 72px;
  }
  .view {
    margin-top: 10px;
    font-size: 30px;
  }

  .social {
    margin: 0;
    font-size: 30px;
  }
  .fa {
    padding: 15px;
  }

  .disc {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .disc h1 {
    font-size: 72px;
  }
  .disc p {
    font-size: 30px;
    width: 80vw;
  }

  .c-dics {
    width: 100vw;
    flex-direction: column;
    display: flex;
  }
  .c-dics h1 {
    width: 100vw;
    font-size: 72px;
  }
  .c-dics p {
    margin-top: 4%;
    width: 80vw;
    font-size: 30px;
    margin-right: 20%;
  }
  .glim-head {
    font-size: 72px;
  }
  .glimses img {
    width: 80vw;
    height: auto;
  }
  .get {
    font-size: 72px;
  }
  .call {
    gap: 50px;
    margin-top: 50px;
  }

  footer {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
